.container {
    display: flex;
    justify-content: flex-end;
}

.button {
    font-size: 20px;
    color: white;
    padding: 10px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}