$primary-color: #F65261;

.button {
    font-size: 20px;
    color: $primary-color;
    margin: 10px;
    padding: 10px 20px;
    width: auto;
    background-color: transparent;
    border-color: $primary-color;
    border-radius: 5%;
    cursor: pointer;
}